* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    background: #F55A5A;
    justify-content: center;
    margin: auto;
}

nav > p {
    font-size: 20px;
    color: white;
    align-self: center;
}

.nav--logo{
    margin: 5px 5px;
}

.card{
    margin: 40px 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
}

.card > div {
    height: 200px;
}

.card-image{
    width: 150px;
    height: 200px;
}

.card-location{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 5px;
    margin: 0 10px;
    overflow: auto;
}

.location-props{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.card-navi{
    width: 20px;
    height: 20px;
}

.country-name{
}

.gray{
    color: gray;
    margin: 0 10px;
}
.location-name{
    margin: 0;
    flex: 1 1 0;
}


